<div class="my-nav-wrap">
	<div class="my-nav-container">
		<div class="my-nav">
			<a class="animation-transition button-container home"
				[ngClass]="{'underline': userViewing == ''}" [routerLink]="'/'">Home</a>
			<a class="animation-transition button-container my-nav-left underline">{{userViewing}}</a>
			<div class="dropdown-container animation-transition button-container"
				*ngIf="isAuthenticated">
				<button class="dropdown-button">Post</button>
				<!-- tabindex to make elements focusable, necessary for the css only dropdown -->
				<div class="dropdown-content">
					<div class="new-post-header">
						<div class="new-post-title" tabindex="-1">New Post</div>
						<p class="new-post-close">&times;</p>
					</div>
					<hr class="post-separator">
					<app-add-post-form class="flex-grow" tabindex="-1"></app-add-post-form>
				</div>
				<div class="screen"></div>
			</div>
			<a class="img-container" [routerLink]="['/', user.twitter.username]"
				*ngIf="isAuthenticated">
				<img class="twitter" [src]="user.twitter.displayUrl">
			</a>
			<div class="unauthenticated" *ngIf="!isAuthenticated">
				<a href="/api/auth/twitter" class="btn btn-info"
					role="button">
					<i class="fa fa-twitter"></i>Sign in with Twitter
				</a>
			</div>
		</div>
	</div>
</div>
