<div class="gallery-row">
	<ng-container *ngIf="columnCount == 4">
		<ng-container *ngFor="let column of columns; let i = index;">
			<div class="gallery-column-4">
				<ng-container *ngFor="let post of column; let j = index;">
					<app-post [post]="post" [@shrinkOut]="'in'"
						[position]="[i, j]" (delete)="deletePost($event)"></app-post>
				</ng-container>
			</div>
		</ng-container>
	</ng-container>
	<ng-container *ngIf="columnCount == 2">
		<ng-container *ngFor="let column of columns; let i = index;">
			<div class="gallery-column-2">
				<ng-container *ngFor="let post of column; let j = index;">
					<app-post [post]="post" [@shrinkOut]="'in'"
						[position]="[i, j]" (delete)="deletePost($event)"></app-post>
				</ng-container>
			</div>
		</ng-container>
	</ng-container>
	<div class="gallery-column-1" *ngIf="columnCount == 1">
		<app-post *ngFor="let post of posts;" [post]="post"></app-post>
	</div>
</div>
<div class="loading"></div>
