.gallery-item {
	position: relative;
	margin: 0;
	padding: 0;

	img {
		display: block;
		margin: 0;
		padding: 0;
		vertical-align: middle;
		height: auto;
		width: 100%;
	}

	.gallery-text-container {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		height: 100%;
		width: 100%;
		opacity: 0;
		transition: .5s ease;

		.gallery-text {
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
		}
	}
}