.gallery-item {
	position: relative;
	margin: 0;
	padding: 0;

	img {
		display: block;
		margin: 0;
		padding: 0;
		vertical-align: middle;
		height: auto;
		width: 100%;
	}

	.gallery-text-container {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		height: 100%;
		width: 100%;
		transition: .3s ease;
		opacity: 0;
		background: rgba(0,0,0,0);

		&:hover {
			opacity: 1;
			background: rgba(0,0,0,0.6);
		}

		img {
			height: 48px;
			width: 48px;
		}

		.gallery-text {
			position: absolute;
			bottom: 0;
			left: 0;
			color: white;
		}
	}
}