/* You can add global styles to this file, and also import other style files */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css?family=PT+Sans');

html { height: 100%; }
body {
	position: relative;
	font-family: 'PT Sans', sans-serif;
	min-height: 100%
}

button:hover	{cursor: pointer}
a:hover 			{
	cursor: pointer;
	text-decoration: none;
}
label:hover 	{cursor: text;}
*:focus 			{outline: 0;}
